<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
    <#setting locale="fr_FR">
    <#setting number_format="0.##">
   <span style="font-weight: bold; font-size: 24px; font-family: Arial; text-align: center;">${nom}</span>
    <br>
    <div style="text-align: center;">
        <br>
        <span style="font-family: Arial;"></span>
        <table style="border-style: solid; border-color: rgb(0, 0, 0); font-family: Arial; width: 100%; text-align: center;" border="1" cellpadding="0" cellspacing="0">
            <tbody>
                <tr style="font-weight: bold; background-color: rgb(51, 51, 153); color: rgb(255, 255, 255);">                    
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center;">Table</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center;">Coach 1</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center;">Score 1</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center;">Score 2</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center;">Coach 2</td>
                </tr>
                <#list matches as match>
                <tr>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center; font-family: Arial;">${match.numero}</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center; font-family: Arial;">${match.coach1}</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center; font-family: Arial;">${match.score1}</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center; font-family: Arial;">${match.score2}</td>
                    <td style="border-style: solid; border-color: rgb(0, 0, 0); text-align: center; font-family: Arial;">${match.coach2}</td>
                </tr>
                </#list>
            </tbody>
        </table>
        <br>
    </div>
    
    <div align="right">
        <small>
            Rapport généré par TourMa © le ${dateGeneration}.
        </small>
    </div>
</body>
</html>
